<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :duration_hours %>
    <%= f.number_field :duration_hours %>
  </div>


  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>


  <div class="form-group">
    <%= f.label :sprint_id, 'Sprint' %>
    <%= f.collection_select :sprint_id, Sprint.all, :id, :title,
      { :include_blank => true},
      {:class => 'form-control'} %>
  </div>


  <div class="form-group">
    <%= f.label :assigned_to_id, 'Assigned to' %>
    <%= f.collection_select :assigned_to_id, User.all, :id, :username,
      { :include_blank => true},
      {:class => 'form-control'} %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
