<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Sprint:</strong>
  <%= @issue.sprint %>
</p>

<p>
  <strong>Board:</strong>
  <%= @issue.board %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @issue.assigned_to %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
